name: Build and Deploy

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/my-go-app:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
       - name: SSH and Deploy
         uses: appleboy/ssh-action@v1.0.3
         with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: PROD_DB_URL,SECRET
         env:
          PROD_DB_URL: ${{ secrets.PRODUCTION_DATABASE_URL }} 
          SECRET: ${{ secrets.SECRET }} 
         script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-go-app:latest
            docker stop my-go-app || true
            docker rm my-go-app || true

            docker run -d \
              --name my-go-app \
              --restart unless-stopped \
              -p 8080:8080 \
              -e DATABASE_URL="$PROD_DB_URL" \
              -e SECRET="$PROD_DB_URL" \
              ${{ secrets.DOCKERHUB_USERNAME }}/my-go-app:latest
